.sidebar {
  width: 270px;
  background-color: #0a062b;
  color: #fff;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-title {
  font-size: 35px;
  margin: 5px 0 20px 5px; /* top right bottom left */
  text-align: left;
  color: #f8f9fa;
}

.sidebar-search {
  margin: 5px 0 20px 0px; /* move closer to the left */
  padding-left: 0px;       /* optional soft padding */
}

.search-input-wrapper {
  position:relative;
  width: 230px;
}

.search-input-wrapper input {
  width: 200px;
  padding: 0.5rem 0.5rem 0.5rem 2.2rem; /* leave space for the icon */
  font-size: 0.95rem;
  border: none;
  border-radius: 20px; /* fully rounded */
  outline: none;
  background-color: #525749;
  color: #fff;
}

.search-input-wrapper input::placeholder {
  color: #ccc;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 0.9rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  color: #adb5bd;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-link:hover {
  background-color: #495057;
  color: #fff;
}

.sidebar-link.active {
  background-color: #142f4b;
  color: white;
}

.sidebar-profile-wrapper {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-right: 10px;
}


.profile-name {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-right: auto;
}

.profile-options-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 0.75rem;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s;
  margin-left: 8px;
}

.profile-options-btn:hover {
  color: #fff;
}
