.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 220px; /* same as sidebar width */
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.page-content {
  padding: 2rem;
  flex: 1;
  background-color: #f9f9f9;
  overflow-y: auto;
}
