.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 270px;
  width: calc(100% - 270px); /* match the sidebar */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

